In [3]:
import pandas as pd

In [49]:
df = pd.read_csv("adult.data.csv")

In [50]:
race_count = df.race.value_counts()

In [51]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [52]:
type(race_count)

pandas.core.series.Series

In [108]:
round(df[df['sex'] == 'Male']['age'].mean(), 1)

39.4

In [38]:
len(df[df["education"] == "Bachelors"]) / len(df) * 100

16.44605509658794

In [66]:
100 * len(df[df["education"].isin(["Bachelors", "Masters", "Doctorate"]) & (df["salary"] == ">50K")]) / len(df)

10.70605939621019

In [70]:
100 * len(df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]) / len(df)

23.006050182733947

In [79]:
higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [86]:
100 * len(higher_education[higher_education['salary'] == ">50K"]) / len(df)

10.70605939621019

In [88]:
lower_education = df[~df["education"].isin(["Bachelors", "Masters", "Doctorate"])]

In [100]:
100 * len(lower_education[lower_education["salary"] == ">50K"]) / len(df)

13.374896348392248

In [104]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [131]:
num_min_workers = len(df[(df['hours-per-week'] == 1) & (df['salary'] == ">50K")])

In [133]:
100 * num_min_workers / len(df)

0.0061423174963913885

In [173]:
df[df['salary'] == '>50K']['native-country'].value_counts().index[0]

'United-States'

In [181]:
df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [186]:
df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().index[0]

'Prof-specialty'

In [200]:
 higher_education = df[df["education"].isin(["Bachelors", "Masters", "Doctorate", 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Some-college', 'HS-grad'])]

In [201]:
len(higher_education) / len(df)

0.8693836184392372

In [202]:
100 * len(higher_education[higher_education['salary'] == ">50K"]) / len(df)

23.33159301004269

In [206]:
len(df[df['salary'] == '<=50K']) / len(df)

0.7591904425539756

32561

In [207]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [208]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

In [209]:
has_advanced_education = df['education'].isin(advanced_education)

In [211]:
adv_edu_total = df[has_advanced_education].shape[0]

In [212]:
adv_edu_total

7491

In [223]:
df[has_advanced_education & (df['salary'] == '>50K')].shape[0]

3486

In [219]:
adv_edu_high_income

3486

In [218]:
percentage_adv_edu.shape

AttributeError: 'float' object has no attribute 'shape'

In [217]:
percentage_adv_edu

46.535843011613935

In [224]:
highest_earning_country = df[df['salary'] == '>50K']['native-country'].value_counts().index[0]

In [228]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [254]:
df[['native-country']].value_counts()

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
dtype: int64

In [251]:
df[df['salary'] == '>50K']['native-country'].value_counts().head()

United-States    7171
?                 146
Philippines        61
Germany            44
India              40
Name: native-country, dtype: int64

In [252]:
df[df['salary'] == '>50K']['native-country'] / df[df['salary'] == '>50K']['native-country']

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [256]:
high_income = df[df['salary'] == '>50K']

In [259]:
total_by_country = df['native-country'].value_counts()

In [260]:
total_by_country

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [261]:
highest_earning_country = high_income['native-country'].value_counts()

In [262]:
highest_earning_country

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [263]:
high_income_by_country = high_income['native-country'].value_counts()
pourcentage_by_country = (high_income_by_country / total_by_country) * 100

In [265]:
high_income_by_country.shape

(40,)

In [266]:
total_by_country.shape

(42,)

In [267]:
pourcentage_by_country

?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64

In [273]:
pourcentage_by_country.idxmax()

'Iran'

In [274]:
num_min_workers = df[(df['hours-per-week'] == 1) & (df['salary'] == ">50K")])

In [275]:
num_min_workers

2